<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/logo.png" type="image/x-icon">
  <title>Add Job</title>
  <link rel="stylesheet" href="/icons/mobirise-icons.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<section class="MenuHeader">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-toggleable-sm">

      <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <img src="/logo.png" style="height: 4.9rem;">
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption Raleway1p5" href="">ResuBuild</a>
                </span>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item dropdown"><a class="underline" href="/gettingStarted">Add Content</a>
                    <div class="dropdown-content-115">
                        <a href="/skills">Skills</a>
                        <a href="/projects">Projects</a>
                        <a href="/education">Education</a>
                        <a href="/achievements">Achievement</a>
                        <a href="/experiences">Experiences</a>
                        <a href="/other">Other</a>
                    </div>
                </li>
                <li class="nav-item"><a class="underline" href="/addJob">Add Job</a></li>
                <li class="nav-item"><a class="underline" href="/buildResume">Build Resume</a></li>
                <li class="nav-item"><a class="underline" href="/profile">Profile</a></li>
                <li class="nav-item"><a class="underline" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</section>

<section class="GettingStarted fullscreen">

    <div class="container">
        <div class="media-container-row">
          <div class="container col-lg-5">
            <h1 class="section-title Raleway4p25"><br>Add Job</h1>
            <p class="text Raleway1p5">Figure out your experiences that matches the job!</p>
            <div class="card-img"><span class="mbri-plus"></span></a></div>
          </div>

          <div class="container col-lg-7">
              <form method="post" action = '/addJob' onsubmit="parent.scrollTo(0,0);">
                <div class="form-group">
                  <h2 class="form-control-label Raleway1p5">Title*</h2>
                  <input type="text" name="name" tabindex="1" class="form-control" required>
                </div>
                <div class="form-group">
                  <h2 class="form-control-label Raleway1p5">Job Summary*</h2>
                  <textarea name="summary" tabindex="2" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                  <h2 class="form-control-label Raleway1p5">Job Responsibility*</h2>
                  <textarea name="responsibility" tabindex="3" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                  <h2 class="form-control-label Raleway1p5">Required Skills*</h2>
                  <textarea name="skills" tabindex="4" class="form-control" required></textarea>
                </div>
                <span class="input-group-btn">
                  <button name="submit" type="submit" class="btn btn-fill Raleway1p5">Submit</button>
                </span>
              </form>
          </div>
        </div>
    </div>
</section>
</body>


<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/smoothscroll/smooth-scroll.js"></script>
<script src="/touchswipe/jquery.touch-swipe.min.js"></script>

</html>
