<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/logo.png" type="image/x-icon">
  <title>Welcome!</title>
  <link rel="stylesheet" href="/icons/mobirise-icons.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<section class="MenuHeader">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-toggleable-sm">

      <div class="menu-logo">         
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <img src="/logo.png" style="height: 4.9rem;">
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption Raleway1p5" href="">ResuBuild</a>
                </span>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item dropdown"><a class="underline" href="/gettingStarted">Add Content</a>
                    <div class="dropdown-content-115">
                        <a href="/skills">Skills</a>
                        <a href="/projects">Projects</a>
                        <a href="/education">Education</a>
                        <a href="/achievements">Achievement</a>
                        <a href="/experiences">Experiences</a>
                        <a href="/other">Other</a>
                    </div>
                </li>
                <li class="nav-item"><a class="underline" href="/addJob">Add Job</a></li>
                <li class="nav-item"><a class="underline" href="/buildResume">Build Resume</a></li>
                <li class="nav-item"><a class="underline" href="/profile">Profile</a></li>
                <li class="nav-item"><a class="underline" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</section>

<section class="GettingStarted fullscreen">
    <div class="container">
        <h1 class="section-title Raleway4p25"><br>Add Resume Content</h1>
        <p class="text Raleway1p5">Fill in your details to get better job matches!</p>
        <br><br>
        
        <div class="media-container-row">
            <div class="col-md-6 col-lg-4">
                <div class="card-img pb-3"><a href="/skills"><span class="mbri-idea"></span></a></div>
                <h5 class="card-title py-3 Raleway1p5"><a href="/skills">Skills</a></h5>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card-img pb-3"><a href="/projects"><span class="mbri-folder"></span></a></div>
                <h5 class="card-title py-3 Raleway1p5"><a href="/projects">Projects</a></h5>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card-img pb-3"><a href="/experiences"><span class="mbri-user"></span></a></div>
                <h5 class="card-title py-3 Raleway1p5"><a href="/experiences">Experience</a></h5>
            </div>
        </div>
        <div class="media-container-row">
            <div class="col-md-6 col-lg-4">
                <div class="card-img pb-3"><a href="/achievements"><span class="mbri-star"></span></a></div>
                <h5 class="card-title py-3 Raleway1p5"><a href="/achievements">Achievements</a></h5>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card-img pb-3"><a href="/education"><span class="mbri-edit"></span></a></div>
                <h5 class="card-title py-3 Raleway1p5"><a href="/education">Education</a></h5>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card-img pb-3"><a href="/other"><span class="mbri-more-horizontal"></span></a></div>
                <h5 class="card-title py-3 Raleway1p5"><a href="/other">Other</a></h5>
            </div>
        </div>
    </div>
</section>
</body>


<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/smoothscroll/smooth-scroll.js"></script>
<script src="/touchswipe/jquery.touch-swipe.min.js"></script>

</html>