<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/logo.png" type="image/x-icon">
  <title>Skills</title>
  <link rel="stylesheet" href="../public/icons/mobirise-icons.css">
  <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../public/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
<section class="MenuHeader">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-toggleable-sm">

      <div class="menu-logo">         
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <img src="../public/logo.png" style="height: 4.9rem;">
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption Raleway1p5" href="">ResuBuild</a>
                </span>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item dropdown"><a class="underline" href="/gettingStarted">Add Content</a>
                    <div class="dropdown-content-115">
                        <a href="/skills">Skills</a>
                        <a href="/projects">Projects</a>
                        <a href="/education">Education</a>
                        <a href="/achievements">Achievement</a>
                        <a href="/experiences">Experiences</a>
                        <a href="/other">Other</a>
                    </div>
                </li>
                <li class="nav-item"><a class="underline" href="/addJob">Add Job</a></li>
                <li class="nav-item"><a class="underline" href="/buildResume">Build Resume</a></li>
                <li class="nav-item"><a class="underline" href="/profile">Profile</a></li>
            </ul>
        </div>
    </nav>
</section>


<section class="Category fullscreen">
  <div class="container media-container-row">
      <div class="container col-lg-6">
          <div class="container col-12"><h1 class="section-title Raleway4p25">Skills</h1><hr></div>
          <br>
          <div class="container">
              <form method="post">
                  <div class="col-lg-5">
                    <h2 class="form-control-label Raleway1p5">Add a Skill</h2>
                    <input type="text" name="name" class="form-control" required>
                    <span class="input-group-btn">
                    <button style="float: left;" name="submit" type="submit" class="btn btn-fill">Submit</button>
                    </span>
                  </div>
              </form>
          </div>
      </div>
      <div class="container col-lg-6">
        <div class="card-img"><span class="mbri-idea"></span></a></div>
      </div>
  </div>
  <a href="/gettingStarted"><img src="../public/leftArrow.png" id="prev-slide"></a>
</section>

</body>


<script src="../public/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/smoothscroll/smooth-scroll.js"></script>
<script src="../public/touchswipe/jquery.touch-swipe.min.js"></script>


</html>